/* components/EditQuestion.css */
.edit-question-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other elements */
  }
  
  .edit-question-window {
    font-family: 'Open Sans', sans-serif;
    background-color: #fcfcfc;   
    padding: 20px;
    margin: 10px; /* Uniform margin on all sides */
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 18px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative; /* For positioning internal elements */
    overflow: hidden;
    overflow-y: auto; /* Allow scrolling for overflowing content */
    box-sizing: border-box; /* Include padding and border in width/height calculations */
    width: calc(100% - 20px); /* Adjust width to account for the margin */
    height: calc(100vh - 120px); /* Adjust height to account for the margin */
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: red;
  }
  
  .edit-question-row {
    margin-bottom: 15px;
  }
  
  .edit-question-row label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .edit-question-row input,
  .edit-question-row select,
  .edit-question-row textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .editor-tabs {
    margin-bottom: 15px;
  }
  
  .editor-tab {
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
  }
  
  .editor-tab.active {
    background: #e0e0e0;
    border-color: #aaa;
  }
  
  .answer-editor {
    max-height: 3000px; /* Set a fixed height for the editor area */
    overflow-y: auto; /* Allow scrolling */
  }
  
  .save-button {
    background-color: #4CAF50;
    position: fixed;
    left: 45%;
    display: flex;
    bottom: 5%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #45a049;
  }
  