/* components/QuestionDetail.css */
/* Import Open Sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


/* Background Container */
.question-detail-background {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7)); /* Gradient background */
  height: 100vh; /* Full viewport height */
  overflow: auto; /* Allow scrolling if content exceeds viewport */
  padding: 0px; /* Padding to ensure content does not touch the edges */
}

/* Common Styles */
.question-detail {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
  
  padding: 20px;
  margin: 10px; /* Uniform margin on all sides */
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 18px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative; /* For positioning internal elements */
  overflow: hidden;
  overflow-y: auto; /* Allow scrolling for overflowing content */
  box-sizing: border-box; /* Include padding and border in width/height calculations */
  width: calc(100% - 20px); /* Adjust width to account for the margin */
  height: calc(100vh - 120px); /* Adjust height to account for the margin */
}

.question-index {
  text-align: center; /* Center the question number */
  font-size: 22px; /* Adjust the font size */
  font-weight: bold; /* Make it bold if needed */
  color: rgb(255, 255, 255); /* 90% opaque */
  position: fixed; /* Fixed position so it stays on top */
  top: 20px; /* Adjust position from top */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 500; /* High z-index to ensure it's always on top */
}

/* Highlighting */
.highlight-p {
  background: linear-gradient(180deg, rgb(255, 255, 224), rgb(255, 255, 244)); /* Light yellow gradient */
}

.highlight-l {
  background: linear-gradient(180deg, rgb(255, 230, 253), rgb(255, 245, 252)); /* Light pink gradient */
}

.highlight-pz {
  background: linear-gradient(180deg, rgb(255, 225, 225), rgb(255, 244, 244)); /* Light red gradient */
}

.highlight-i {
  background: linear-gradient(180deg, rgb(227, 230, 255), rgb(245, 248, 255)); /* Light blue gradient */
}


.question-detail h2 {
  font-size: 17px;
  color: #2b2b2b;
  margin-bottom: 10px;
  text-align: justify;
  text-align-last: center;

}



.question-slide {
  transform: translateX(100%);
  transition: transform 0.5s ease;
  display: flex;
}

.question-content {
  flex-shrink: 0;
  margin-bottom: 30px;
}

.question-header2 {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #2b2b2b;
  border-bottom: 1px solid #ccc;
  margin-top: 0px;
}

.question-header p {
  margin: 0;
}

.answer-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: justify;
  font-size: 14px;
}

.answer-container.revealed {
  max-height: 5000px;
  transition: max-height 0.5s ease-in;
}

.answer-container img {
  display: block;
  margin: 0 auto;
}

/* Buttons */
.reveal-button, .hide-button, .ai-answer-button, .hide-button-ai {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10;
}

.reveal-button.hidden, .hide-button.hidden, .hide-button-ai.hidden { display: none; }
.reveal-button:hover, .hide-button:hover, .ai-answer-button:hover, .hide-button-ai:hover {
 
  font-weight: 600;
  color: white;
}

/* AI Answer Button */
.ai-answer-button {
  left: 80%;
}

/* Hide Answer button */
.hide-button-ai {
  left: 80%;
  color: #242424;
  z-index: 500;
}

.hide-button-ai:hover {
  background-color: #888;
  color: white;
}
/* AI Answer Container */
.ai-answer-container {
  position: fixed;
  bottom: -100%; /* Start off-screen */
  left: 10px;
  right: 10px;

  background-color: white;
  padding: 20px;
  transition: bottom 0.4s ease;
  height: 60%;
  z-index: 90;
  background-color: rgba(250, 250, 250, 0.95);
  box-shadow: 0px -2px 300px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ai-answer-editor {
  flex-grow: 1; /* Fills the remaining space in the container */
  width: 100%; /* Ensure it takes full width */
  height: 100%; /* Ensures it fills most of the height */
  max-height: calc(100% - 40px); /* Leaves space for other buttons */
  overflow-y: auto; /* Enables scrolling if content exceeds container size */
}

/* Show AI Answer (when revealed) */
.ai-answer-container.revealed {
  bottom: 0; /* Slide up to be visible */
}


.buttons-container {

  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons-container button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.buttons-container button:hover {
  font-size: 120%;
  color: #242424;
}

/* Icons */
.rate-icon, .edit-icon, .back-button {
  position: fixed;
  font-size: 22px;
  
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  z-index: 500;
}

.rate-icon { top: 20px; right: 20px; }
.edit-icon { top: 20px; right: 70px; }
.back-button { top: 20px; left: 20px; background: transparent; border: none; }

.rate-icon:hover, .edit-icon:hover, .back-button:hover {
  font-size: 24px;
  color: #242424;
}

/* Arrows */
.prev-arrow, .next-arrow {
  font-size: 24px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background: transparent;
  border: none;
  position: fixed;
  bottom: 25px;
  z-index: 100;
}

.prev-arrow { left: 20px; }
.next-arrow { right: 20px; }

.prev-arrow:hover, .next-arrow:hover {
  color: rgba(0, 0, 0, 1);
}

/* Rating */
.rating-1 { background-color: green; }
.rating-2 { background-color: lightgreen; }
.rating-3 { background-color: yellowgreen; }
.rating-4 { background-color: orange; }
.rating-5 { background-color: red; }

.rating-popup {
  position: relative;
}

.rating-value {
  display: inline-block;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 1.2rem;
  vertical-align: top;
  line-height: 1;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close-popup:hover { color: red; }



.slide-left {
  animation: slideLeft 0.3s forwards;
}

.slide-right {
  animation: slideRight 0.3s forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}