/* components/QuestionDetail.css */
/* Import Open Sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


/* Background Container */
.question-detail-background {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7)); /* Gradient background */
  height: 100vh; /* Full viewport height */
  overflow: auto; /* Allow scrolling if content exceeds viewport */
  padding: 0px; /* Padding to ensure content does not touch the edges */
}


/* Common Styles */
.question-detail {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
  
  padding: 20px;
  margin: 10px; /* Uniform margin on all sides */
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 18px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative; /* For positioning internal elements */
  overflow: hidden;
  overflow-y: auto; /* Allow scrolling for overflowing content */
  box-sizing: border-box; /* Include padding and border in width/height calculations */
  width: calc(100% - 20px); /* Adjust width to account for the margin */
  height: calc(100vh - 120px); /* Adjust height to account for the margin */
}

.question-index {
  text-align: center; /* Center the question number */
  font-size: 22px; /* Adjust the font size */
  font-weight: bold; /* Make it bold if needed */
  color: rgb(255, 255, 255); /* 90% opaque */
  position: fixed; /* Fixed position so it stays on top */
  top: 15px; /* Adjust position from top */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 500; /* High z-index to ensure it's always on top */
}

/* Highlighting */
.highlight-p {
  background: linear-gradient(180deg, rgb(255, 255, 224), rgb(255, 255, 244)); /* Light yellow gradient */
}

.highlight-l {
  background: linear-gradient(180deg, rgb(255, 230, 253), rgb(255, 245, 252)); /* Light pink gradient */
}

.highlight-pz {
  background: linear-gradient(180deg, rgb(255, 225, 225), rgb(255, 244, 244)); /* Light red gradient */
}

.highlight-i {
  background: linear-gradient(180deg, rgb(227, 230, 255), rgb(245, 248, 255)); /* Light blue gradient */
}

.online-yellow, .online-green, .online-red{
  position: fixed;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  left: 62%;
  top: 12px;
  font-size: 15x;
  color: #09ff00;
  /* color: linear-gradient(90deg, rgb(36, 182, 0), rgb(51, 255, 0), rgb(36, 182, 0))!important; */
}

.online-yellow{
  color:#ffd000;
}
.online-red{
  color:#ff0000;
}


.question-detail h2 {
  font-size: 17px;
  color: #2b2b2b;
  margin-bottom: 10px;
  text-align: justify;
  text-align-last: center;

}



.question-slide {
  transform: translateX(100%);
  transition: transform 0.5s ease;
  display: flex;
}

.question-content {
  flex-shrink: 0;
  margin-bottom: 30px;
}

.question-header2 {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #2b2b2b;
  border-bottom: 1px solid #ccc;
  margin-top: 0px;
}

.question-header p {
  margin: 0;
}

.answer-container {
  overflow: hidden;
  max-height: 0;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  text-align: justify;
  font-size: 14px;
}

.answer-container.revealed {
  max-height: 5000px;
  transition: max-height 0.5s ease-in;
  margin-left: -15px;
  margin-right: -15px;
}

.answer-container img {
  display: block;
  margin: 0 auto;
}



/* Buttons */

.law-list-button, .law-hide-button, .law-button, .save-button-ai, .reveal-button, .hide-button, .ai-answer-button, .hide-button-ai {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10;
}

.reveal-button.hidden, .hide-button.hidden, .hide-button-ai.hidden { display: none; }

.law-list-button:hover, .reveal-button:hover, .hide-button:hover, .ai-answer-button:hover, .hide-button-ai:hover {
 
  font-weight: 600;
  color: white;
}

.law-list-button{
  position: fixed;
  width: 10%;
  left: 90%;
  text-align: center;
  bottom: 28.5%;
  z-index: 1500;
  color: #ffffff;
  background-color: #242424;
}

/* AI Answer Button */
.ai-answer-button {
  left: 80%;
}

.law-button{
  left: 20%;
}

.law-hide-button{
  left: 20%;
  color: #242424;
  z-index: 500;
}


.hide-button-ai {
  left: 80%;
  color: #242424;
  z-index: 500;
}
.save-button-ai {
  left: 50%;
  color: #242424;
  z-index: 500;
  font-size: 25px;
  bottom: 15px;
}


.law-hide-button:hover, .save-button-ai:hover, .hide-button-ai:hover {
  background-color: #888;
  color: white;
}

.bottom-mask.revealed {
  position: fixed;
  bottom: 0px; 
  left: 10px;
  right: 10px;
  padding: 20px;
  height: 20px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95); ;
  /* background: linear-gradient(90deg, rgba(56, 56, 56), rgb(46, 46, 46), rgba(56, 56, 56)); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* AI Answer Container */
.law-list-container, .law-ap-container, .law-container, .ai-answer-container {
  position: fixed;
  bottom: -100%; /* Start off-screen */
  left: 10px;
  right: 10px;
  padding: 10px;
  padding-top: 0px;
  transition: bottom 0.4s ease;
  z-index: 90;
  background-color: rgba(241, 241, 241, 0.95);
  box-shadow: 0px -2px 300px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto; /* Enables scrolling if content exceeds container size */
  overflow: hidden;  

}

.law-container-ed, .ai-answer-container-ed {
  position: fixed;
  bottom: -100%; /* Start off-screen */
  left: 10px;
  right: 10px;
  padding: 10px;
  padding-top: 0px;
  z-index: 90;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px -2px 300px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto; /* Enables scrolling if content exceeds container size */
  overflow: hidden;  
}
.ai-answer-container-ed.revealed {
  bottom: 60px;

}
.law-container-ed.revealed {
  bottom: 60px;
  z-index: 1000;
}

.ai-answer-container, .ai-answer-container-ed {
  height: 60%;
}

.law-container, .law-container-ed {
  height: 20%;
}

/* Show AI Answer (when revealed) */
.law-container.revealed, .ai-answer-container.revealed {
  bottom: 60px; /* Slide up to be visible */
}

.law-ap-container {
  height: 63%;
  background: rgba(255, 255, 255, 0.9);
  color: rgb(172, 172, 172);
}

.law-ap-container.revealed {
  bottom: 28%; 
}
.html-tag {
  color: grey; /* Change this color to your desired shade of grey */
  font-family: monospace; /* Optional: use a monospace font for a code-like appearance */
}

.ap-title{
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 12px;
  font-weight: bold;
  background-color: rgba(99, 99, 99, 0.9);
  padding: 5px;
  border-radius: 9px;
  z-index: 2500;
}


.ai-answer-editor {
  flex-grow: 1; /* Fills the remaining space in the container */
  width: 100%; /* Ensure it takes full width */
  height: 100%; /* Ensures it fills most of the height */
  border-radius: 15px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  text-align: justify; 
  overflow: hidden;
}


.law-link {
  color: blue; /* Link color */
  text-decoration: underline; /* Underline the link */
  cursor: pointer; /* Change cursor on hover */
}

.law-link:hover {
  color: darkblue; /* Change color on hover */
}


/* Specific styling for lists */
.law-list-container ul, .law-list-container li, .law-list-container ol, .law-container ul, .law-container li, .ai-answer-editor, .ql-editor ol, .ql-editor ul, .ql-editor li, .ql-editor {
  padding-left: 00px; /* Adjust padding for lists */
  padding-bottom: 0px;
  padding-top: 0px;
  box-shadow: 0px 0px 0px 0px;
  background-color: transparent !important; /* Remove any unwanted background colors */
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.law-list-container, .law-ap-container, .law-container{
  text-align: justify;
  display: block;
  padding-left: 25px!important;
  padding-right: 25px!important;
  padding-top: 10px;
  overflow-y: auto; /* Enables vertical scrolling */
  font-size: 10px;
}
.law-list-container{

  height: 10%;

}
.law-list-container.revealed{
  bottom: 28%; 
  z-index: 200;
}

input {
  margin-bottom: 10px; /* Add space between the input and the list */
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}


.ql-editor p{
  margin-bottom: 0.5em!important;
  padding-top: 0.5em!important;
  box-shadow: 0px 0px 0px 0px;
  border: none!important;
  text-align: justify;
}
.ql-toolbar {
  position: fixed;
  border-radius: 15px;
  margin-top: -50px;
  background-color: rgba(255, 255, 255, 0.9); 
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Space items to the edges */
  left: 10px; /* Add left margin for positioning */
  right: 10px; /* Add right margin for positioning */
  padding: 10px; /* Optional: add padding for better spacing */
  z-index: 2000;
}

.ql-container{
  border: none!important;
}
.ql-editor h1, .ql-editor h2, .ql-editor h3 {
  margin-bottom: 1em!important; /* Space after headers */
}



.edit-ai-button{
  position: fixed;
  bottom: 800px;
  left: 20%;

  color: rgb(0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
}

.buttons-container {

  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons-container button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.buttons-container button:hover {
  font-size: 120%;
  color: #242424;
}

/* Icons */
.fullscreen-button, .rate-icon, .edit-icon, .back-button {
  position: fixed;
  font-size: 22px;
  
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  z-index: 500;
  top: 15px!important;
}
.fullscreen-button {left: 70px; background: transparent; border: none;  }
.rate-icon { right: 20px; }
.edit-icon {  right: 70px; }
.back-button { left: 20px; background: transparent; border: none; }

.fullscreen-button:hover, .rate-icon:hover, .edit-icon:hover, .back-button:hover {
  font-size: 24px;
  color: #242424;
}

.clear-button2{
  background: none;
  color: #888;
  border: none;
  padding: 0px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.clear-button {
  background: none;
  color: #888;
  border: none;
  padding: 0px;
  cursor: pointer;
  font-size: 8px;
  display: flex;
}


/* Arrows */
.prev-arrow, .next-arrow {
  font-size: 24px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background: transparent;
  border: none;
  position: fixed;
  bottom: 25px;
  z-index: 100;
}

.prev-arrow { left: 20px; }
.next-arrow { right: 20px; }

.prev-arrow:hover, .next-arrow:hover {
  color: rgba(0, 0, 0, 1);
}

/* Rating */
.rating-1 { background-color: green; }
.rating-2 { background-color: lightgreen; }
.rating-3 { background-color: yellowgreen; }
.rating-4 { background-color: orange; }
.rating-5 { background-color: red; }

.rating-popup {
  position: relative;
}

.rating-value {
  display: inline-block;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 1.2rem;
  vertical-align: top;
  line-height: 1;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close-popup:hover { color: red; }

.law-AP-close{
  position: relative;
  left: 93%;
  color: white;
  background-color: #0000008e;
  border-radius: 9px;
  padding: 5px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
}


.slide-left {
  animation: slideLeft 0.3s forwards;
}

.slide-right {
  animation: slideRight 0.3s forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.highlight {
  background-color: yellow; /* Highlight for matches */
}

.highlight-current {
  background-color: orange; /* Highlight for the current match */
}

.search-section {
  position: relative;
  padding: 0px;
  z-index: 5200;
}

.search-section input {
  width: 200px;
  padding: 5px;
  margin-bottom: 0;
  margin-right: 10px;
}

.search-bar{
  font-size: 10px;
  padding: 3px;
  width: 100%;
  text-align: justify;
}

.clickable-id {
  cursor: pointer;
  color: rgb(39, 133, 255); /* Optional: To visually indicate that it is clickable */
  font-weight: bold;
  /* text-decoration: underline; */
}
.clickable-act {
  cursor: pointer;
  color: rgb(0, 81, 255);  /* Optional: To visually indicate that it is clickable */
  font-weight: bold;
  /* text-decoration: underline; */
}
