/* Background Container */
.question-list-background {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7)); /* Gradient background */
  height: 100vh; /* Full viewport height */
  overflow: auto; /* Allow scrolling if content exceeds viewport */
  padding: 0px; /* Padding to ensure content does not touch the edges */

}

/* Base Styles */
.questions-list {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  margin: 10px; /* Uniform margin on all sides */
  margin-top: 60px!important;
  border-radius: 18px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative; /* For positioning internal elements */
  overflow: hidden;
  overflow-y: auto; /* Allow scrolling for overflowing content */
  box-sizing: border-box; /* Include padding and border in width/height calculations */
  width: calc(100% - 20px); /* Adjust width to account for the margin */
  height: calc(100vh - 70px); /* Adjust height to account for the margin */

}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
  top: 50px;
}


/* Hamburger menu button */
.sign, .save-main, .hamburger-menu {
  font-size: 25px;
  color: white;
  left: 45%;
  position: fixed;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.online-yellow, .online-green, .online-red{
  position: fixed;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  left: 62%;
  top: 12px;
  font-size: 15x;
  color: #09ff00;
  /* color: linear-gradient(90deg, rgb(36, 182, 0), rgb(51, 255, 0), rgb(36, 182, 0))!important; */
}

.online-yellow{
  color:#ffd000;
}
.online-red{
  color:#ff0000;
}

.sign {
  left: 78%;
  font-size: 15px;
  top: 10px;
}

.save-main1, .save-main2{
  display: block;
  position: absolute;
  padding: 5px;
  margin-top: 15px;
  left: 30%;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: left;
}
.save-main2{
left: 38%;
}


/* Rollable container for buttons */
.menu {
  background: linear-gradient(90deg, rgb(73, 73, 73), rgb(65, 65, 65), rgb(73, 73, 73));
  max-height: 0;
  overflow: hidden;
  z-index: 1100;

}

.menu.show, .menu.hide {
  position: fixed;
  width: calc(100% - 40px);
  margin-top: 60px;
  max-height: 500px; /* A large enough value to show the content */
  transition: max-height 0.8s ease-in;
  padding-left: 20px;
  padding-right: 20px;
}

.menu.hide {
  max-height: 0px; /* A large enough value to show the content */
}


.import-button,
.add-button,
.clear-button,
.load-button,
.menu-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: left;
}

.filter-options,
.filter-button{
  position: absolute;
  right: 10px;
  margin-top: 10px;
  font-size: 15px;
  color: white;
  background-color: rgb(65, 65, 65);
  border: none;
  cursor: pointer;
}

.filters button:hover,
.filter-options select:hover,
.filter-options button:hover {
  color: #242424;
  background-color: #707070;
}

/* Lists and Items */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

li button {
  background: transparent;
  border: none;
  color: #363636;
  cursor: pointer;
  margin-right: 10px;
}

li button:hover {
  text-decoration: underline;
}

/* Question List */
.question-container {
  margin-top: 110px;

}

/* Question List */
.question-container-head {
  margin: -5px;
  margin-top: -6px;
  padding: 5px;
  border-radius: 15px 15px 0px 0px;
  position: fixed;
  margin-right: 12px;
  background: linear-gradient(90deg, rgba(94, 94, 94), rgb(83, 83, 83), rgba(94, 94, 94));
}


/* Question List */
.question-header,
.question-row {
  cursor: pointer;
  background-color: #ffffff00;
  display: grid;
  grid-template-columns: 1fr 1fr 50fr 1fr 2fr 1fr 1fr; /* Responsive columns */
  grid-gap: 0px;
  padding: 10px;
  font-size: 14px; /* Default font size */
  border-bottom: 1px solid #ccc;
}

/* Apply outline between columns */
.question-header .column,
.question-row .column {
  padding: 1px; /* Better spacing */
}

.column-head{
  font-size: 10px; /* Better spacing */
  cursor: pointer;
  color: white;  
}

.question-info{
  color: white;
}


.question-header .column:not(:first-child),
.question-row .column:not(:first-child) {
  border-left: 1px solid #ccc; /* Outline between properties */
}


/* Font Styling */
.question-header div:first-child,
.question-row div:first-child {
  font-weight: bold;
}

.question-header div:nth-child(3),
.question-row div:nth-child(3) {
  text-align: left;
}
.question-header div:nth-child(3){
  text-align: center;
}


.question-row div:nth-child(2) {
  text-align: center;
  font-size: 12px;
  color: #4e4e4e;
}


.question-row div:nth-child(4) {
  text-align: center;
  font-weight: bold;
  color: #242424;
}

/* Rating Cell Styling (6th column) */
.question-row div:nth-child(7) {
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
}

/* Rating Background Colors */
.rating-1 { background-color: green; }
.rating-2 { background-color: lightgreen; }
.rating-3 { background-color: yellowgreen; }
.rating-4 { background-color: orange; }
.rating-5 { background-color: red; }

.question-row .actions {
  grid-column: span 6;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
}

.edit-button,
.delete-button {
  font-size: 80%;
  color: #4e4e4e;
}

.edit-button:hover,
.delete-button:hover {
  font-size: 90%;
  color: #242424;
}

/* Confirm Popup */
.confirm-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .filters {
    flex-direction: column;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .menu-icon {
    position: static;
    margin-top: 10px;
  }

  .question-header,
  .question-row {
    grid-template-columns: 1fr 1fr 50fr 1fr 1fr 1fr 1fr;
    font-size: 12px;
  }

  .question-header .column,
  .question-row .column {
    padding: 3px;
  }
}

@media (max-width: 480px) {
  .header button {
    font-size: 20px;
  }

  .filters button {
    font-size: 12px;
  }

  .question-header,
  .question-row {
    grid-template-columns: 1fr 1fr 50fr 1fr 1fr 1fr 1fr;
    font-size: 10px;
  }
}
