/* components/QuestionDetail.css */
/* Example with Open Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


.question-detail {
  font-family: 'Open Sans';
  background-color: #f5f5f5;
  padding: 20px;
  margin: 10px; /* Uniform margin */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* For positioning internal elements */
  

  height: calc(100vh - 80px); /* Full height minus margins */
  
  overflow-y: auto; /* Allow scrolling for overflowing content */
  box-sizing: border-box; /* Include padding and border in width/height calculations */
}

/* Highlighting */
.highlight-p {
  background-color: rgba(255, 255, 113, 0.1);
}

.highlight-l {
  background-color: rgba(255, 113, 243, 0.1);
}

.highlight-pz {
  background-color: rgba(255, 113, 113, 0.1);
}

.highlight-i {
  background-color: rgba(113, 134, 255, 0.1);
}

.question-detail h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px; /* Adjusted margin */
}

.question-detail {
  position: relative;
  overflow: hidden; /* Ensures the question content stays within the container */
  width: 94%;

  height: 100%;
}

.question-slide {
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  display: flex;
}

.question-content {
  min-width: 100%;
  flex-shrink: 0; /* Ensures each content takes full width */
}


.question-header2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  font-size: 14px;
  color: #555;
  border-bottom: 1px solid #ccc; 
}



.question-header p {
  margin: 0;
}



.question-content {
  margin-bottom: 20px;
  position: relative; /* To position the Hide Answer button */
}

.reveal-button {
  background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.reveal-button.hidden {
  display: none; /* Hide the button when the answer is revealed */
}

/* Hide Answer button */
.hide-button {
  position: fixed;
  bottom: 20px; /* Positioned at the bottom */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10;
}

.hide-button:hover {
  background-color: #888;
  color: white;
}

.answer-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  padding: 0px; /* Adding some padding for better readability */

  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Slight shadow for better visibility */
  text-align: justify;
  font-size: 14px;
}

.answer-container.revealed {
  max-height: 5000px; /* Adjust as needed */
  transition: max-height 0.5s ease-in;
}

.answer-container img {
  display: block;
  margin: 0 auto; /* Center images horizontally */
}

/* Ensure the container takes full width and positions items below */
.buttons-container {
  display: flex;
  justify-content: space-between; /* Distribute buttons evenly */
  margin-top: 20px; /* Add spacing from the content */
}

.buttons-container button {
  background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.buttons-container button:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Slightly less transparent on hover */
}

.rate-icon {
  font-size: 20px; /* Adjust size as needed */
  color: rgba(0, 0, 0, 0.7); /* 50% transparent */
  cursor: pointer;
  position: fixed; /* Fixed position so it stays on top */
  top: 20px; /* Adjust position from top */
  right: 20px; /* Adjust position from right */
  z-index: 1000; /* High z-index to ensure it's always on top */
}

.rate-icon:hover {
  color: rgba(0, 0, 0, 1); /* Full opacity on hover */
}

.rating-1 { background-color: green; }
.rating-2 { background-color: lightgreen; }
.rating-3 { background-color: yellowgreen; }
.rating-4 { background-color: orange; }
.rating-5 { background-color: red; }

.rating-popup {
  position: relative;
  /* Existing styles */
}

.rating-value {
  display: inline-block;
  font-weight: bold;
  color: white; /* Adjust text color for better readability */
  background-color: transparent; /* This will be set dynamically in the JS */
  border-radius: 3px;
  padding: 5px 10px; /* Increased padding for more space */
  margin-left: 5px; /* Space between rating and other elements */
  font-size: 1.2rem; /* Adjust font size if needed */
  vertical-align: top; /* Aligns the text to the top of the line height */
  line-height: 1; /* Ensures the text is aligned to the top without extra space */
}


.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close-popup:hover {
  color: red; /* Change color on hover if desired */
}


.back-button {
  position: fixed; /* Fixed position so it stays on top */
  top: 20px;
  left: 20px;
  background: transparent !important; /* No background */
  border: none !important; /* No border */
  font-size: 24px; /* Adjust size */
  color: #888 !important; /* Grey color for the icon */
  cursor: pointer;
  z-index: 1000; /* High z-index to ensure it's always on top */
}

/* Bold arrows for Previous and Next buttons */
.prev-arrow, .next-arrow {
  font-size: 24px; /* Adjust size */
  color: rgba(0, 0, 0, 0.7); /* Slightly transparent */
  cursor: pointer;
  background: transparent; /* No background */
  border: none; /* No border */
  position: fixed;
  bottom: 50px; /* Always visible at the bottom */
  z-index: 100; /* Make sure they are above other elements */
}

.prev-arrow {
  left: 20px; /* Positioned on the left */
}

.next-arrow {
  right: 20px; /* Positioned on the right */
}

.prev-arrow:hover, .next-arrow:hover {
  color: rgba(0, 0, 0, 1); /* Full opacity on hover */
}