/* Base Styles */
.questions-list {
  font-family: Roboto, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}

.header button {
  background: transparent;
  border: none;
  font-size: 24px;
  color: #888;
  cursor: pointer;
}

.menu-icon {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  min-width: 120px;
}

.menu-button {
  font-size: 18px;
  display: block;
  background: transparent;
  border: none;
  padding: 15px;
  margin: 5px 0;
  text-align: left;
  cursor: pointer;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.menu-button:hover {
  background-color: #f0f0f0;
  color: #000;
}

/* Filters and Buttons */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-button,
.import-button,
.add-button,
.clear-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 14px;
}

.import-button { background-color: #007bff; color: #fff; }
.add-button { background-color: #28a745; color: #fff; }
.clear-button { background-color: #dc3545; color: #fff; }
.filter-button {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 5px;
}

.filters button:hover,
.filter-options select:hover,
.filter-options button:hover {
  background-color: #e0e0e0;
}

/* Lists and Items */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

li button {
  background: transparent;
  border: none;
  color: #363636;
  cursor: pointer;
  margin-right: 10px;
}

li button:hover {
  text-decoration: underline;
}

/* Question List */
.question-container {
  margin-top: 20px;
}

/* Question List */
.question-header,
.question-row {
  cursor: pointer;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr 2fr 50fr 2fr 1fr 1fr; /* Responsive columns */
  grid-gap: 5px;
  padding: 10px;
  font-size: 14px; /* Default font size */
  border-bottom: 1px solid #ccc;
}

/* Apply outline between columns */
.question-header .column,
.question-row .column {
  padding: 5px; /* Better spacing */
}

.question-header .column:not(:first-child),
.question-row .column:not(:first-child) {
  border-left: 1px solid #ccc; /* Outline between properties */
}


/* Font Styling */
.question-header div:first-child,
.question-row div:first-child {
  font-weight: bold;
}

.question-header div:nth-child(3),
.question-row div:nth-child(3) {
  text-align: left;
}

/* Rating Cell Styling (6th column) */
.question-row div:nth-child(6) {
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
}

/* Rating Background Colors */
.rating-1 { background-color: green; }
.rating-2 { background-color: lightgreen; }
.rating-3 { background-color: yellowgreen; }
.rating-4 { background-color: orange; }
.rating-5 { background-color: red; }

/* Highlighting */
.highlight-p {
  background-color: rgba(255, 255, 113, 0.1);
}

.highlight-l {
  background-color: rgba(255, 113, 243, 0.1);
}

.highlight-pz {
  background-color: rgba(255, 113, 113, 0.1);
}

.highlight-i {
  background-color: rgba(113, 134, 255, 0.1);
}

/* Actions */
.question-row .actions {
  grid-column: span 6;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
}

.edit-button,
.delete-button {
  font-size: 80%;
  color: #4e4e4e;
}

.edit-button:hover,
.delete-button:hover {
  font-size: 90%;
  color: #242424;
}

/* Confirm Popup */
.confirm-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .filters {
    flex-direction: column;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .menu-icon {
    position: static;
    margin-top: 10px;
  }

  .question-header,
  .question-row {
    grid-template-columns: 1fr 2fr 50fr 2fr 1fr 1fr;
    font-size: 12px;
  }

  .question-header .column,
  .question-row .column {
    padding: 3px;
  }
}

@media (max-width: 480px) {
  .header button {
    font-size: 20px;
  }

  .filters button {
    font-size: 12px;
  }

  .question-header,
  .question-row {
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr 1fr;
    font-size: 10px;
  }
}
