/* App.css */
.App {
  text-align: center;
  padding: 20px;
}

.main-tab {
  margin: 50px auto;
}

.lista-pytan-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.questions-list {
  margin: 20px;
}

.questions-list ul {
  list-style-type: none;
  padding: 0;
}

.questions-list li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.edit-question input,
.edit-question textarea {
  display: block;
  margin: 10px 0;
  width: 100%;
}

.edit-question button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
/* App.css */
.rating-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.rating-popup button {
  margin: 5px;
}
/* App.css */
.save-state-button, .load-state-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-state-button:hover, .load-state-button:hover {
  background-color: #45a049;
}

